@media all and (min-width:980px) and (max-width:600x){
    
 .navbre{
    position: fixed;

 }


  
 .gr{
    margin-left: 120px;
     
    }


.front{

    font-size: 6px;
}



  }
  
 
  
   
    




    


 
.gr{
    margin-left: 220px;
        display: grid;
        grid-template-columns: repeat(3,250px);
       
        gap: 50px;
    }



.html{
     /* box-shadow: rgb(255 86 34) 0px 5px 15px; */ 
    box-shadow:  0px 50px 100px -20px, rgba(255 86 34) 0px 30px 60px -30px, rgba(255 86 34) 0px -2px 6px 0px inset;

background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
}

.profirst{

   

background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
    
}
.profirst1{
    box-shadow:  0px 50px 100px -20px, rgba(255 86 34) 0px 30px 60px -30px, rgba(255 86 34) 0px -2px 6px 0px inset;

    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
}


.profirst4{
   border-radius: 10px;
   background-color: cadetblue;
   
}




.html:hover{
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    transform: scale(1.2);
}

.css{
    box-shadow:  0px 50px 100px -20px, rgba(255 86 34) 0px 30px 60px -30px, rgba(255 86 34) 0px -2px 6px 0px inset;
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);; */
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
   
}
.css:hover{
    transform: scale(1.2);
    background-image: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);
}

.js:hover{
    transform: scale(1.2);
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

.js{
    box-shadow:  0px 50px 100px -20px, rgba(255 86 34) 0px 30px 60px -30px, rgba(255 86 34) 0px -2px 6px 0px inset;
    /* background: #00223E; */
    background-image: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);
     /* background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);   */
   
}
.react{
    box-shadow:  0px 50px 100px -20px, rgba(255 86 34) 0px 30px 60px -30px, rgba(255 86 34) 0px -2px 6px 0px inset;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);

}


.pro3{
    box-shadow:  0px 50px 100px -20px, rgba(255 86 34) 0px 30px 60px -30px, rgba(255 86 34) 0px -2px 6px 0px inset;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
 
}



.react:hover{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    transform: scale(1.2);
}

.tail{
    box-shadow: rgb(1 122 254) 0px 5px 15px;
}
.github{
    box-shadow: rgb(251 252 255) 0px 5px 15px
}

.git{
    box-shadow: rgb(240 80 51) 0px 5px 15px
}

.chakra{
    box-shadow: rgb(108 202 206) 0px 5px 15px
}


.node{
    box-shadow: rgb(19 170 82) 0px 5px 15px
}


.db{
    box-shadow: rgb(19 170 82) 0px 5px 15px
}

.express{
    box-shadow: rgb(57 39 163) 0px 5px 15px
}

.mongos{
    box-shadow: rgb(137 0 0) 0px 5px 15px
}



